.cm-s-django-smoothy.CodeMirror,
.cm-s-django-smoothy .CodeMirror-gutters {
  background-color: #245032;
  color: #f8f8f8;
}
.cm-s-django-smoothy .CodeMirror-gutters {
  border-right: 0px;
}
.cm-s-django-smoothy .CodeMirror-linenumber {
  color: #f8f8f8;
}
.cm-s-django-smoothy .CodeMirror-cursor {
  border-left: 1px solid #f8f8f8;
}
.cm-s-django-smoothy .CodeMirror-matchingbracket {
  text-decoration: underline;
  text-decoration-color: #f8f8f8 !important;
}
.cm-s-django-smoothy div.CodeMirror-selected {
  background-color: #336442;
}
.cm-s-django-smoothy span.cm-comment {
  color: #fd6209;
}
.cm-s-django-smoothy span.cm-keyword {
  color: #ffe862;
  font-weight: bold;
}
.cm-s-django-smoothy span.cm-atom .cm-s-django-smoothy span.cm-number {
  font-weight: bold;
  font-style: italic;
  color: #9cf340;
}
.cm-s-django-smoothy span.cm-error,
.cm-s-django-smoothy span.cm-invalid {
  background-color: #9cf340;
  color: #245032;
}
.cm-s-django-smoothy span.cm-string {
  color: #e1ffb8;
  font-style: italic;
}
.cm-s-django-smoothy span.cm-tag,
.cm-s-django-smoothy span.cm-attribute {
  color: #fec758;
}
.cm-s-django-smoothy span.cm-meta {
  color: #989898;
}
