@purple: #c594c5;
@gray: #5f6364;
@yellow: #fac863;

.cm-s-charcoal {
	& span {
		&.cm-keyword {
			color: @purple;
		}

		&.cm-comment {
			color: @gray;
		}

		&.cm-def {
			color: @yellow;
		}
	}
}