@orange: #fd6209;
@dark_green: #245032;
@white: #f8f8f8;
@yellow: #ffe862;
@lime: #9cf340;
@green: #e1ffb8;
@yellow_orange: #fec758;

.cm-s-django-smoothy {
	&.CodeMirror, & .CodeMirror-gutters {
		background-color: @dark_green;
		color: @white;
	}

	& span {
		&.cm-comment {
			color: @orange;
		}

		&.cm-keyword {
			color: @yellow;
			font-weight: bold;
		}

		&.cm-atom &.cm-number {
			font-weight: bold;
			font-style: italic;
			color: @lime;
		}

		&.cm-error, &.cm-invalid {
			background-color: @lime;
			color: @dark_green;
		}

		&.cm-string {
			color: @green;
			font-style: italic;
		}

		&.cm-tag, &.cm-attribute {
			color: @yellow_orange;
		}
	}
}